# CS-513 Final Exam

## Question 4
___
Wyatt Blair

5/6/2024
___

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

___
## Import Data

In [2]:
data = pd.read_csv('../data/Adult_income_v2.csv')
data

       Age  Education_Years  Gender  Hours_worked_Perweek Income
0       38                9    Male                    40  <=50K
1       37               14  Female                    40  <=50K
2       31               14  Female                    50   >50K
3       30               13    Male                    40   >50K
4       40               11    Male                    40   >50K
...    ...              ...     ...                   ...    ...
10848   37               12  Female                    40  <=50K
10849   43               10  Female                    40  <=50K
10850   43               11    Male                    45  <=50K
10851   22               10    Male                    40  <=50K
10852   58                9  Female                    40  <=50K

[10853 rows x 5 columns]

In [3]:
data['Income'].replace({
    '<=50K': 0,
    '>50K': 1,
}, inplace=True)

data['Gender'].replace({
    'Female': 0,
    'Male': 1,
}, inplace=True)

In [4]:
features = ['Education_Years', 'Gender', 'Hours_worked_Perweek']
target = 'Income'

In [5]:
train = data.sample(frac=0.7)
test = data.drop(index=train.index)

In [6]:
# train/test split is 70/30

train_X = train[features]
train_y = train[target  ]

test_X  = test[features]
test_y  = test[target  ]

___
## Problem # 4: (10 points)

Use the Random Forest methodology to develop a classification model for the “Income” (target), using “Education_years”, “Gender”, “Hours_Worked_Perweek” in the “Adult_income_v2.CSV” dataset (30% test 70% training).

* What is the accuracy of your model?
* What are “the mean decrease accuracies” of the features?
* What are the “mean decrease Gini Indices” of the features?

In [10]:
parameters = {
    'n_estimators' : [10, 50, 100, 200, 500],
    'criterion': ['gini'],
    'max_depth': [None, 2, 3, 4, 5],
    'min_samples_split': [2, 3, 4, 5],
}

model = GridSearchCV(RandomForestClassifier(), parameters, verbose=1, n_jobs=-1).fit(train_X, train_y)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [11]:
test['prediction'] = model.predict(test_X)
test['correct'] = test['prediction'] == test['Income']
test_accuracy = test['correct'].value_counts()[True] / len(test.index)

train['prediction'] = model.predict(train_X)
train['correct'] = train['prediction'] == train['Income']
train_accuracy = train['correct'].value_counts()[True] / len(train.index)

print('Accuracy (TRAIN): %1.3f%%' % (train_accuracy*100))
print('Accuracy (TEST ): %1.3f%%' % (test_accuracy*100 ))

Accuracy (TRAIN): 80.637%
Accuracy (TEST ): 79.791%

In [12]:
# TODO: PART B AND C